@charset "UTF-8";
/**************Global*****************/
main {
  background-color: #f6f6f6;
}

body {
  margin: 0px;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-left: 20px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

h3 {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

p {
  font-family: "Roboto", sans-serif;
}

/************Header**************/
header {
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  height: 63px;
  background-color: white;
}

.logo {
  font-family: "Shrikhand", sans-serif;
  text-align: center;
  color: #101010;
  font-size: 30px;
  margin: 0px;
  padding-top: 15px;
}

/*********Localisation***********/
.fa-location-dot {
  color: #353535;
  padding-top: 15px;
}

.location {
  position: static;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  gap: 17px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.location__txt {
  display: flex;
  color: #353535;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

/***********Réservation Bouton**************/
.section1 {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  position: sticky;
}
.section1 h1 {
  margin: 30px 50px 0px 50px;
}
.section1 h2 {
  margin-bottom: 30px;
}

.bouton {
  border: none;
  border-radius: 25px;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  height: 50px;
  width: 218px;
  font-size: 16px;
  color: white;
  font-weight: 500;
  margin-bottom: 60px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  transition-property: all;
  transition-duration: 200ms;
}
.bouton:hover {
  filter: brightness(1.1);
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

/***************Fonctionnement*****************/
.fonctionnement {
  padding-top: 40px;
  padding-bottom: 70px;
  background-color: white;
}

.articles {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.articles p {
  position: relative;
  bottom: 25px;
  padding-left: 80px;
  margin-top: 7px;
}
.articles .fa-solid {
  color: #7e7e7e;
  position: relative;
  left: 30px;
  top: 0px;
  font-size: 20px;
}

.article-card {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #f6f6f6;
  width: 322.49px;
  height: 72.38px;
  border-radius: 20px;
  font-weight: 500;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}
.article-card:hover {
  cursor: pointer;
}
.article-card:hover i {
  color: #9356DC;
}

.circle {
  position: relative;
  top: 25px;
  right: 10px;
  border: 1px solid #9356DC;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #9356DC;
}
.circle p {
  position: relative;
  bottom: 3px;
  right: 73px;
  color: white;
}

/*********Restaurants**********/
.restaurants {
  background-color: #f6f6f6;
}
.restaurants h1 {
  padding-top: 40px;
}

.restaurant-cards {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 40px;
}
.restaurant-cards img {
  width: 340px;
  height: 181px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant-cards a {
  text-decoration: none;
}
.restaurant-cards h3 {
  color: #101010;
}
.restaurant-cards p {
  color: #101010;
}

.card {
  display: flex;
  flex-direction: column;
}

.card-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 86px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.card-content h3 {
  padding-left: 15px;
  font-size: 18px;
  font-weight: 700;
}
.card-content p {
  padding-left: 15px;
  margin-top: -10px;
  font-size: 17px;
  font-weight: 300;
}

.empty-heart {
  color: #101010;
  position: relative;
  left: 280px;
  bottom: 60px;
  font-size: 32px;
  font-weight: 100;
}

.news {
  background-color: #99E2D0;
  width: 80px;
  height: 29px;
  position: relative;
  left: 240px;
  top: 45px;
  margin-top: -30px;
}
.news p {
  font-size: 14px;
  color: #008766;
  text-align: center;
  margin-top: 6px;
}

/***********Footer*************/
footer {
  background-color: #353535;
}
footer p {
  color: white;
  font-weight: 400;
}

.footer__divers {
  margin: 20px;
  margin-bottom: 0px;
  padding-bottom: 25px;
}
.footer__divers a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.footer__divers .fa-solid {
  color: white;
  position: relative;
  top: 18px;
  font-size: 12px;
}

.footer__logo {
  color: white;
  font-family: "Shrikhand", sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding-top: 25px;
  margin: 20px;
  margin-top: 0px;
  margin-bottom: -20px;
}

.gras {
  font-weight: 500;
  padding-left: 22px;
  margin-top: 0px;
  margin-bottom: 0px;
}

/***********Animations************/
/*.full-heart {
    opacity: 0;
    font-size: 32px;
    position: relative;
    bottom: 60px;
    left: 244.1px;
    transition-property: all;
    transition-duration: 200ms;

    &:hover {
        opacity: 1;
        color: transparent;
        background-image: $gradient;
        background-clip: text;
        -webkit-background-clip: text;
    }
}*/
.empty-heart {
  cursor: pointer;
  font-size: 28px;
  position: relative;
  bottom: 60px;
  left: 147px;
}

.full-heart {
  opacity: 0;
  font-size: 28px;
  position: relative;
  bottom: 59.8px;
  left: 114.9px;
  transition-property: all;
  transition-duration: 200ms;
}

.toHide {
  display: none;
}

.toHide:checked + .full-heart {
  opacity: 1;
  color: transparent;
  background-image: linear-gradient(to bottom, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  transform: scale(1.1);
}

.turn {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  /*z-index: 10;*/
  height: 100vh;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: disapear 3s linear;
  animation-fill-mode: forwards;
}

@keyframes disapear {
  0% {
    z-index: 10;
  }
  99% {
    height: 100vh;
  }
  100% {
    z-index: -10;
    height: 0px;
  }
}
.fa-bowl-food {
  position: sticky;
  /*top: 0; left: 0; right: 0; bottom: 0;*/
  margin: auto;
  width: 100px;
  height: 100px;
  font-size: 100px;
  color: transparent;
  background-image: linear-gradient(to bottom, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  animation: spin 2s linear 200ms;
  animation-fill-mode: forwards;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=style.css.map */